<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add page</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<header>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li sec:authorize="!isFullyAuthenticated()" ><a href="login">Login</a></li>
            <li sec:authorize="!isFullyAuthenticated()" ><a href="register">Sign up</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}"> <a href="/logout" >Log out </a></li>
        </ul>
    </nav>
</header>
<div align="center" class="container">
    <h1 class="title">Add Inventory </h1>

    <form th:action="@{/add_success}" th:object="${inventory}"
          method="post" >
        <div class="m-3">
            <div>
                <label>Item </label>
                <div class="col-8">
                    <input  th:field="*{item}" class="form-control"
                             required minlength="3" maxlength="27"/>
                </div>
            </div>

            <div >
                <label >Quantity</label>
                <div class="col-8">
                    <input  th:field="*{quantity}" class="form-control"
                            required minlength="1" maxlength="20"/>
                </div>
            </div>

            <!-- testing stuff -->
            <div >
                <label >Low Quantity </label>
                <div class="col-8">
                    <input type="text" th:field="*{low_quantity}" class="form-control"
                           required minlength="1" maxlength="20"/>
                </div>
            </div>


            <div>
                <button type="submit" class="btn btn-primary">Add Item</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>