<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Camp Coding Academy - Inventory Management System</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="welcome">
        <h1>BCCA Inventory Management System</h1>
    </div>
    <div id="add">
        <a href="/add">Add Items</a>
    </div>
    <div id="view">
        <h3>View Inventory</h3>
    </div>
    <div id="delete">
        <h3>Delete Items</h3>
    </div>
    <div id="update">
        <h3>Update Inventory</h3>
    </div>

</body>
</html>