<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Base Camp Coding Academy - Inventory Management System</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <!--<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" /> -->
</head>
<body>
<header>
    <nav id="nav">
        <ul>
            <li sec:authorize="!isFullyAuthenticated()" ><a href="login">Login</a></li>
            <li sec:authorize="!isFullyAuthenticated()" ><a href="register">Sign up</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}"> <a href="/logout" >Log out </a></li>
        </ul>
    </nav>
</header>
    <div id="welcome">
        <h1 class="title">BCCA Inventory Management System</h1>
    </div>
<div  class="container">
    <img  class="boxes" src="https://images.unsplash.com/photo-1587293852726-70cdb56c2866?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80"> </img>
</div>
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <div class="row">
            <div class="column">
                <a href="/add" >Add Items</a>
            </div>
            <div class="column">
                <a href="/view" >View Inventory</a>
            </div>
            <div class="column">
                <a href="/low_inventory"n >Low Inventory</a>
            </div>
        </div>
    </div>

</body>
</html>