<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>view</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<header>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li sec:authorize="!isFullyAuthenticated()" ><a href="login">Login</a></li>
            <li sec:authorize="!isFullyAuthenticated()" ><a href="register">Sign up</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}"> <a href="/logout" >Log out </a></li>
        </ul>
    </nav>
</header>
<div class="container text-center">
    <div>
        <h1 class="title">List of Inventory</h1>
    </div>


    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Item ID</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Low Quantity</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inventory: ${listInventory}">
                <td th:text="${inventory.id}">Item ID</td>
                <td th:text="${inventory.item}">Item</td>
                <td th:text="${inventory.quantity}">Quantity</td>
                <td th:text="${inventory.low_quantity}">Low Quantity</td>
                <td><a th:href="@{'/edit_inventory/'+ ${inventory.id}}"></a></td>
                <td><a th:href="@{'/inventory_delete/'+ ${inventory.id}}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>